[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color]
  ui = true
[color "diff"]
  whitespace = red reverse
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  editor = /usr/bin/vim

[alias]
  st = status
  stb = status -sb
  ci = commit -v
  br = branch
  co = checkout
  df = diff
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  lp = log --pretty="format:'%h %ad | %an - %s%d'" --date=short
  lgs = log --stat
  ls = ls-files
  pr = pull --rebase
  remv = remote --verbose
  rem = remote
  diffc = diff --cached
  amend = commit --amend
  shas = log --pretty=format:"%H"
  sha = log --pretty=format:"%H" -1
  staged = diff --cached

[user]
  name = Philip Corliss
  email = pcorliss@50projects.com

[http]
  ;sslVerify = false

[mergetool "diffmerge"]
  cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
  trustExitCode = false
[push]
  default = simple
[http]
  ;proxy = http://localhost:8888
